/* Base styles are added to this style sheet. Base styles are global styles that
 * and don't only relate to one site feature and they exclude page layout styles 
 */


/* skip to links */
.skip-to-links-wrapper {
	margin: 10px;
}
#skip-to ul {
	list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#skip-to ul li {
	padding: 0;
	margin: 0 0 5px 0;
}
#skip-to { 
	position: absolute; 
	left: -10000px; 
	top: auto; 
	width: 1px; 
	height: 1px; 
	overflow: hidden;
} 
#skip-to:focus { 
  position: static; 
  width: auto; 
  height: auto; 
}

/* selection */
::-moz-selection {
    background: #FF8C00;
		color: #fff;
}
::selection {
    background: #FF8C00;
		color: #fff;
}

/* body */
body {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	color: #222;
	background: #e0dfdd url('../img/body-background.png') top left repeat;
  margin: 0 auto;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.2;
}

/* page wrapper */
#page-wrapper {
	background-color: #fff;
}

/* paragraphs */
p {
	
}
p.standfirst {
	
}






































