/* Styles for individual site features go here. Site features are bits 
 * of functionality within a page layout that deliver the content 
 * example: home page carousel, or main menu, or search from
 */


/* ==========================================================================
   Global Masterhead
   ========================================================================== */

/* global masterhead - banner */
#global-masthead {
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #e3e3e3;
  height: 30px;
  overflow: hidden; 
}
/* global masterhead - site logo */
.masterhead-logo {
	margin-left: 10px;
	float: left;
	margin-right: 10px;
}
/* global masterhead - global nav */
#global-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#global-nav li {
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid #666;
}
#global-nav a {
	display: block;
	height: 13px;
	padding: 8px 7px 9px 7px;
	font-size: 12px;
	line-height: 1;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
#global-nav a:hover,
#global-nav a.active {
	border-top: 3px solid #FF8C00;
  padding-top: 5px;
}
#global-nav .menu-about a:hover,
#global-nav .menu-about a.active {
	border-top-color: #207a7a;
}
#global-nav .menu-services a:hover,
#global-nav .menu-services a.active {
	border-top-color: #71b360;
}
#global-nav .menu-training a:hover,
#global-nav .menu-training a.active {
	border-top-color: #fab700;
}
#global-nav .menu-documents a:hover,
#global-nav .menu-documents a.active {
	border-top-color: #346189;
}
/* global masterhead - for mobile */
@media all and (max-width: 739px) {
	#global-masthead {
		height: auto;
	}
	.masterhead-logo {
		float: none;
		margin-bottom: 5px;
	}
	#global-nav {
		float: none;
		border-top: 1px solid #666;
	}
	#global-nav a:hover,
	#global-nav a.active,
	#global-nav .menu-about a:hover,
	#global-nav .menu-about a.active,
	#global-nav .menu-services a:hover,
	#global-nav .menu-services a.active,
	#global-nav .menu-training a:hover,
	#global-nav .menu-training a.active,
	#global-nav .menu-documents a:hover,
	#global-nav .menu-documents a.active {
		border-top: none;
	}
	#global-nav a:hover,
	#global-nav a.active {
		padding-top: 8px;
    background-color: #505050;
	}
}


/* ==========================================================================
   Local Masterhead
   ========================================================================== */

/* local masterhead - banner */
#local-masthead {
	background-color:#f47d20;
}
/* local masterhead - site name */
.site-name {
	color: #fff;
	margin-left: 10px;
	padding-top: 12px;
	font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: 300;
	line-height: 1.1;
	text-shadow: 1px 1px #666;
}
.site-name a {
	color: #fff;
	text-decoration: none;
}
/* local masterhead - site slogan */
.site-slogan {
	margin-left: 10px;
	margin-top: 18px;
	font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	color: #fff;
	padding-bottom: 8px;
}

/* local masterhead - for mobile */
@media all and (max-width: 739px) {
	.site-name {
		font-size: 34px;
		padding-top: 5px;
		text-shadow: none;
	}
	.site-slogan {
		font-size: 16px;
		margin-top: 5px;
	}
}


/* ==========================================================================
   Main Menu
   ========================================================================== */

.main-navigation {
	background-color: #99521a;
	overflow: hidden;
	border-bottom: 3px solid #eeeeee;
}
#local-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

#local-nav li {
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px dotted #f6f6f6;
}
#local-nav li.last {
	border-right: none;
}
#local-nav li a {
	display: block;
	padding: 5px 10px 8px 10px;
	color: #f6f6f6;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	text-shadow: 1px 1px #666;
}
#local-nav li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #333;
}

/* main menu - for mobile */
@media all and (max-width: 739px) {
	.main-navigation  {
		border-bottom: none;
	}
	#local-nav li {
		float: none;
		border-right: none;
		border-bottom: 1px solid #ad7548;
	}
	#local-nav li a {
		color: #fff;
		text-shadow: none;
	}
	#local-nav li a:hover {
		background-color: #9e5b26;
	}
}


/* ==========================================================================
   Page Title and Headings
   ========================================================================== */

h1.title {
	font-size: 37px;
	color: #005472; /* #996a44; */
	line-height: 1.1;
	font-weight: 300;
	margin: 0 0 12px 0;
}

h2 {
	font-size: 25px;
	color: #005472; /* #996a44; */
	line-height: 1.2;
	font-weight: 300;
	margin: 0 0 12px 0;
}

h3 {
	font-size: 17px;
	color: #005472; /* #996a44; */
	line-height: 1.2;
	font-weight: 300;
	margin: 0 0 12px 0;
}

p.standfirst {
	font-size: 15px;
}



/* ==========================================================================
   Footer section
   ========================================================================== */

#global-footer {
	border-top: 7px solid #eee;
	background-color: #fbfbfa;
	padding-top: 20px;
}


/* ==========================================================================
   Footer global nav
   ========================================================================== */

.global-footer-navigation {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
}

/* we don't use the grid for the menus because thee is no option to get 
 * five equal width columns in a 24 column grid structure
 */
.footer-global-nav-column {
	width: 168px;
	display: inline;
	float: left;
	margin-right: 20px;
}

.global-footer-navigation a {
	text-decoration: none;
}
.global-footer-navigation a:hover {
  background-color: #ddd;
}

.global-footer-navigation a.footer-global-nav-logo {
	margin-top: 10px;
	display: block;
}
.global-footer-navigation a.footer-global-nav-logo:hover {
	background-color: transparent;
}

.footer-global-nav-column h2.column-heading {
	border-bottom: 2px solid #ff8c00;
	margin-bottom: 6px;
}

.footer-global-nav-column h2.column-heading.border-1 {
	border-bottom-color: #71b360;
}
.footer-global-nav-column h2.column-heading.border-2 {
	border-bottom-color: #fab700;
}
.footer-global-nav-column h2.column-heading.border-3 {
	border-bottom-color: #346189;
}
.footer-global-nav-column h2.column-heading.border-4 {
	border-bottom-color: #207a7a;
}

.footer-global-nav-column h2.column-heading a {
	display: block;
	font-size: 16px;
	line-height: 1.1;
	color: #444;
	padding: 8px 0 8px 0;
}
.footer-global-nav-column h2.column-heading a:hover {
	background-color: transparent;
}


.global-footer-navigation ul {
	padding: 0 0 0 10px;
	list-style: none;
	font-size: 0; /* this removes mystery gap between a-tag and li elements */
}
.global-footer-navigation ul li {
	padding: 0;
	margin: 4px 0 3px 0;
	display: block;
}
.global-footer-navigation ul li a {
	padding: 1px 4px 2px 0;
	font-size: 11px;
	line-height: 1.1;
	color: #005472;
	text-decoration: none;
}
.global-footer-navigation ul li a:hover {
  color: #ff8c00;
  text-decoration: none;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.global-footer-navigation .footer-global-nav-column.first ul {
	padding-left: 0;
}

/* footer global nav - for mobile */
@media all and (max-width: 739px) {
	.footer-global-nav-column {
		display: block;
		float: none;
		margin-right: 20px;
	}
}


/* ==========================================================================
   Elixir Footer
   ========================================================================== */

/* address */
#footer-meta .address {
	margin: 0 0 5px 0;
	color: #888;
	font-size: 11px;
}

/* copyright and legal menu wrappeer */
#legal {
	margin-bottom: 5px;
}

/* copyright */
#footer-meta .copyright {
	font-size: 11px;
	*display: inline;	/* hack for old IE browsers */
	zoom: 1; /* hack for old IE browsers */
	display: inline-block;
	vertical-align: top;
}

/* legal */
#footer-meta .legal-navigation {
	*display: inline; /* hack for old IE browsers */
	zoom: 1; /* hack for old IE browsers */
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
}

#footer-meta ul.legal {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer-meta ul.legal a {
	font-size: 11px;
	line-height: 1;
	color: #222;
	list-style: none;
	padding: 2px 4px 2px 0; 
	text-decoration: none;
}
#footer-meta ul.legal li {
	padding: 0;
  margin: 0;
  display: inline;
  padding-left: 8px;
  background-image: url('../img/menu-divider.jpg');
  background-repeat: no-repeat;
  background-position: left center;
}
#footer-meta ul.legal li.first {
	margin-left: 5px;
}
#footer-meta ul.legal a:hover {
	text-decoration: none;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #e4e4e4;
	color: #999;
}


/* Elixir Footer - for mobile */
@media all and (max-width: 739px) {
	#footer-meta .copyright {
		display: block;
		margin-bottom: 3px;
	}
	#footer-meta .legal-navigation {
		display: block;
	}
	#footer-meta ul.legal li.first {
		background-image: none;
		margin-left: 0;
		padding-left: 0;
	}
}






