/* Styles for individual site features go here. Site features are bits 
 * of functionality within a page layout that deliver the content 
 * example: home page carousel, or main menu, or search from
 */

/* global masterhead - banner */
#global-masthead {
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #e3e3e3;
  height: 30px;
  overflow: hidden; 
}
/* global masterhead - site logo */
.site-logo {
	margin-left: 10px;
	float: left;
	margin-right: 30px;
}
/* global masterhead - global nav */
#global-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#global-nav li {
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid #666;
}
#global-nav a {
	display: block;
	padding-top: 5px;
	height: 13px;
	padding: 8px 7px 9px 7px;
	font-size: 12px;
	line-height: 1;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
#global-nav a:hover,
#global-nav a.active {
	border-top: 3px solid #FF8C00;
  padding-top: 5px;
}
#global-nav .menu-about a:hover,
#global-nav .menu-about a.active {
	border-top-color: #207a7a;
}
#global-nav .menu-services a:hover,
#global-nav .menu-services a.active {
	border-top-color: #71b360;
}
#global-nav .menu-training a:hover,
#global-nav .menu-training a.active {
	border-top-color: #fab700;
}
#global-nav .menu-documents a:hover,
#global-nav .menu-documents a.active {
	border-top-color: #346189;
}

/* local masterhead - banner */
#local-masthead {
	background-color:#f47d20;
}
/* local masterhead - site name */
.site-name {
	color: #fff;
	margin-left: 10px;
	margin-top: 12px;
	font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: 300;
	line-height: 1.1;
}
.site-name a {
	color: #fff;
	text-decoration: none;
}
/* local masterhead - site slogan */
.site-slogan {
	margin-left: 10px;
	margin-top: 18px;
	font-family: 'HelveticaNeueLT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 1.1;
	color: #fff;
	padding-bottom: 10px;
}









