/* Page layout styles deal with the structure of pages but 
 * not the structure of individual site features 
 */



/* ==========================================================================
   Grid overrides
   ========================================================================== */

/* grid 24 is a special case so improve the way 960 grid system treats it */
.container_24 .grid_24.alpha {
	width: 955px;
}
.container_24 .grid_24.omega {
	width: 955px;
}
.container_24 .grid_24.alpha.omega {
	width: 960px;
}
/* for mobile */
@media all and (max-width: 739px) {
	.container_24 .grid_24.alpha {
	  width: auto;
	}
	.container_24 .grid_24.omega {
	  width: auto;
	}
	.container_24 .grid_24.alpha.omega {
	  width: auto;
	}
	html, body {
		height: auto;
	}

}



/* ==========================================================================
   Content area
   ========================================================================== */

.main-content-inner {
	padding-top: 10px;
	padding-bottom: 30px;
}

.sidebar-inner {
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 30px;
}

/* body class="no-sidebars" */
.no-sidebars .main-content-inner {
	margin-left: 5px;
	margin-right: 5px;
}
/* body class="left-sidebar" */
.left-sidebar .main-content-inner {
	margin-left: 15px;
	margin-right: 5px;
}
/* body class="right-sidebar" */
.right-sidebar .main-content-inner {
	margin-left: 5px;
	margin-right: 15px;
}
/* body class="left-sidebar right-sidebar" */
.left-sidebar.right-sidebar .main-content-inner {
	margin-left: 15px;
	margin-right: 15px;
}

/* for mobile */
@media all and (max-width: 739px) {
	.main-content-inner {
		padding-bottom: 10px;
	}
	.no-sidebars .main-content-inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	.left-sidebar .main-content-inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	.right-sidebar .main-content-inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	.left-sidebar.right-sidebar .main-content-inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	.sidebar-inner {
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 20px;
		padding-bottom: 0;
	}
}



/* ==========================================================================
   Footer
   ========================================================================== */

/* Adds some more outer margin */
.local-footer-inner {
	margin-left: 5px;
	margin-right: 5px;
}
.footer-meta-inner {
	margin-left: 5px;
	margin-right: 5px;
}
/* for mobile */
@media all and (max-width: 739px) {
	.local-footer-inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	.footer-meta-inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	.global-footer-navigation {
		margin-left: 10px;
		margin-right: 10px;
	}
	.footer-first-menu-inner {
		margin-left: 0px;
	}
	.footer-last-menu-inner {
		margin-right: 0px;
	}
}



/* ==========================================================================
   Clearning floats
   ========================================================================== */

/* Example: <div id="main-wrapper" role="main" class="grid_24 clearfix"> */

/* cross broser clearfix - clearfix class os added to containers that need to be cleared */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}


